# .gitignore
# 안 쓰는 파일
checkpoints/
*.pth
*.h5
*.fasta
.mlflow/
__pycache__/
REST_API/
src/outputs/
src/index.ipynb
src/score.py
cafa_eval_scoreset/

# 결과 폴더
outputs/

# 데이터 자산에서 불러오는 폴더구조
src/fasta/
src/h5/
src/ontology/
src/tsv/
src/validation/
src/interpro/
src/foldseek/